@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $background: map.get($color-config, background);

  .inline-editor-input {
    background-color: inherit;

    &:focus {
      // !important used to override hover border color.
      border: 2px solid map.get($primary, 500) !important;
    }

    &:hover {
      padding: 2px 1px 2px 4px;
      border: 2px solid map.get($background, hover);
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  // TODO(amysorto): use typography-config once typography levels defined

  :host {
    font-weight: bold;
    font-size: 14pt;
  }

  .inline-editor-input {
    font-family: mat.font-family($typography-config);
    font-size: inherit;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
