<!-- TODO: add map editor -->
<div id="task-details">
  <div id="tasks-added" cdkDropList (cdkDropListDropped)="drop($event)">
    <task-input
      *ngFor="let task of tasks; let i = index; trackBy: getIndex"
      (update)="onTaskUpdate($event, i)"
      (delete)="onTaskDelete(i)"
      (duplicate)="onDuplicateTask(i)"
      [label]="task.label"
      [required]="task.required"
      [taskType]="task.type"
      [cardinality]="task.multipleChoice?.cardinality"
      [multipleChoice]="task.multipleChoice"
      [taskCount]="tasks!.size"
      [taskIndex]="i"
    >
    </task-input>
  </div>

  <div id="tasks-help-text">Select task to add</div>

  <div id="add-task-buttons-list">
    <add-task-button
      *ngFor="let taskGroup of addableTaskGroups"
      [taskGroup]="taskGroup"
      (click)="onTaskAdd(taskGroup)"
    >
    </add-task-button>
  </div>
</div>
