.*
!.gitignore
!.eslintignore
!.eslintrc.json
!.prettierrc.js
!.github/
**/dist/
**/firebase-debug.log
**/firebase-init.html
**/google-maps-api-key.html
**/*-secret.json
**/bower_components
**/node_modules
**/build/
**/*.log
web/google-maps-api.js
web/coverage/
