# Copyright 2026 The Ground Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

.*
!.vscode/
!.gitignore
!.eslintignore
!.eslintrc.json
!.prettierrc.js
!.github/
!.well-known/
**/isolate
**/keys/
**/dist/
**/firebase-debug.log
**/firebase-init.html
**/google-maps-api-key.html
**/test_output*.txt
**/*-secret.json
**/bower_components
**/node_modules
**/build/
**/generated/
**/*.log
web/google-maps-api.js
web/coverage/
web/src/environments/build-info.generated.ts
# Firebase Emulator local snapshots
data/local
data/test

.nx/cache
.nx/workspace-data