@use 'sass:map';
@use '@angular/material' as mat;

.properties-header {
  color: #1A1C19;
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  // TODO(amysorto): use typography-config once typography levels defined

  .properties-header {
    font-family: mat.font-family($typography-config);
    font-size: 22px;
  }
}

@mixin theme($theme) {
  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
