@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $background: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  .expandable-node-start {
    color: #424940;
  }

  .tree-node-selected {
    background-color: map.get($background, selected-button);
    .select-loi {
      color: map.get($foreground, base);
    }
  }

  .mat-tree {
    background-color: #edeee9; /* M3/sys/light/surface-container */

    .mat-mdc-unelevated-button {
      background-color: #edeee9; /* M3/sys/light/surface-container */
    }

    .loi-tree-node{
      color: #424940;
      &:hover {
        color: map.get($foreground, base);
        background-color: map.get($background, hover);
      }
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  // TODO(amysorto): use typography-config once typography levels defined

  .download {
    text-decoration: none;
  }
}


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
