@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);

  // TODO(amysorto): find corresponding color in palette
  $dialog-color: #188038;

  .reposition-confirm-dialog {
    background: $dialog-color;
  }

  .dialog-text {
    color: map.get($primary, default-contrast);
  }

  .dialog-button {
    background: $dialog-color;
    // TODO(amysorto): find corresponding color in palette
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  // TODO(amysorto): use typography-config once typography levels defined

  .dialog-text {
    font-family: mat.font-family($typography-config);
    font-size: 14px;
    letter-spacing: 0.1px;
  }

  .dialog-button {
    font-family: mat.font-family($typography-config);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.1px;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
