@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground: map.get($color-config, foreground);

  .ground-title {
    color: #1A1C19;
  }

  .header-divider {
    border-left: 1px solid map.get($foreground, divider);
  }

  .header .cancel-edit-button {
    --mdc-text-button-label-text-color: #516351;
  }

  .header .finish-edit-button {
    --mdc-filled-button-container-color: #39656C;
    --mdc-filled-button-label-text-color: white;
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  // TODO(#1135): add font-size & font-weight once typography levels defined

  .ground-title {
    font-family: 'Urbanist';
    font-size: 22px;
    font-weight: 400;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
