@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .asterix--after:after {
    color: mat.get-theme-color($theme, error);
  }
}

@mixin typography($theme) {
  .submission {
    .task-label {
      font: mat.get-theme-typography($theme, body-small, font);
    }

    .task-result {
      font: mat.get-theme-typography($theme, body-medium, font);
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}
