@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);

  .job-selector-section {
    background-color: map.get($primary, default-contrast);
  }

  .add-point-button {
    // TODO(amysorto): find corresponding color in palette
    background-color: #202225;
  }

  .add-point-button:hover {
    background-color: map.get($primary, 500);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
