---
---

@import "{{ site.theme }}";

// Variables

$font-heading: "Google Sans", sans-serif;
$font-body: "Google Sans Text", serif;

// Style declarations

.page-header {
  background-image: url(https://github.com/google/ground-platform/raw/master/docs/assets/images/aerial-forest-lake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: #233E5A;
} 

h1 {
  font-size: 1.8rem;
}

.main-content p {
  font-family: $font-body;
  background-color: #e5e5e5;
}

.project-logo {
  width: 120px;
  height: 120px;
}

.project-name {
  font-family: $font-heading;
  font-weight: lighter;
  letter-spacing: 1pt;
  font-size: 4.5rem;
  text-shadow: 1px 1px #333;
}

.project-tagline {
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 2rem;
  font-variant: all-small-caps;
  text-transform: none;
  text-shadow: 1px 1px #333;
  opacity: 0.8;
}
