---
---

@import "{{ site.theme }}";

// Variables

$font-heading: "Open Sans", sans-serif;
$font-body: "Open Sans", sans-serif;

// Style declarations

body {
  background-color: #e5e5e5;
}

.page {
  width: 100vw;
  height: 100vh;
  display: block;
}

.page-header {
  background-image: url(https://github.com/google/ground-platform/raw/master/docs/assets/images/aerial-forest-lake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 1.5rem;
  font-family: $font-heading;
  color: #ffffff;
}

h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: #233E5A;
}

.main-content p {
  font-family: $font-body;
}

.project-logo {
  width: 120px;
  height: 120px;
}

.project-name {
  font-family: $font-heading;
  font-weight: lighter;
  letter-spacing: 1pt;
  font-size: 4.5rem;
  text-shadow: 1px 1px #333;
}

.project-tagline {
  font-family: $font-heading;
  font-weight: normal;
  margin-bottom: 2rem;
  text-transform: none;
  text-shadow: 1px 1px #333;
  opacity: 0.8;
  color: #ffffff;
}
