---
---

@import "{{ site.theme }}";

// Variables

$font-heading: "Fredoka One", sans-serif;
$font-body: "Lora", serif;

// Style declarations

.page-header {
  background-image: url(https://github.com/google/ground-platform/raw/master/docs/assets/images/aerial-forest-lake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  text-transform: uppercase;
} 

h1 {
  font-size: 1.8rem;
}

.main-content p {
  font-family: $font-body;
}

.project-logo {
  width: 80px;
  height: 80px;
}

.project-name {
  font-family: $font-heading;
  font-variant: all-small-caps;
  font-weight: lighter;
  letter-spacing: 1pt;
  font-size: 4.5rem;
  text-shadow: 1px 1px #333;
}

.project-tagline {
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 2rem;
  font-variant: all-small-caps;
  text-transform: none;
  text-shadow: 1px 1px #333;
  opacity: 0.8;
}
