.submission-response-geometry {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-inline-start: 8px;
}

.submission-response-geometry-number {
  display: flex;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 15px;
  color: white;
}

.submission-response-geometry-label {
  padding-left: 16px;
  font-weight: 500;
  white-space: pre-line;
}
