<div
  class="submission-response-geometry"
  [ngClass]="{
    'selected-submission-response-geometry': isSelected(),
  }"
  (click)="onClick()"
>
  <div
    class="submission-response-geometry-number"
    [ngStyle]="{ 'background-color': jobColor() ?? 'black' }"
  >
    {{ displayIndex() }}
  </div>
  <div
    *ngIf="
      task().type === taskType.DROP_PIN || task().type === taskType.DRAW_AREA
    "
    class="submission-response-geometry-label"
  >
    {{ task().id }}
  </div>
  <div
    *ngIf="task().type === taskType.CAPTURE_LOCATION"
    class="submission-response-geometry-label"
  >
    {{ capturedCoord() }}
  </div>
</div>
