@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground: map.get($color-config, foreground);

  .vertical-divider {
    border-left: 1px solid map.get($foreground, divider);
  }

  .question-container {
    border: 1px map.get($foreground, divider);
  }

  .drag-icon {
    color: map.get($foreground, icon);
  }

  .horizontal-line {
    border: 1px solid map.get($foreground, divider);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
