@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .secondary-side-panel {
    background-color: mat.get-theme-color($theme, surface);
    color: mat.get-theme-color($theme, on-surface);

    .mdc-list-item__secondary-text {
      color: mat.get-theme-color($theme, outline);
    }
  }
}

@mixin typography($theme) {
  .secondary-side-panel {
    .header {
      font: mat.get-theme-typography($theme, headline-small, font);
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}
