@use 'sass:map';
@use '@angular/material' as mat;


@mixin color($theme) {
  $color-config: mat.get-color-config($theme);

  #task-details h1 div {
    color: #727970;
  }

  #task-details h2 {
    color: #424940;
  }

  #tasks-help-text {
    color: #727970;
  }
}


@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  #task-details h1 {
    font-family: mat.font-family($typography-config);
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;

    div {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }
  }

  #task-details h2 {
    text-align: left;
    font-size: 16px;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
