@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // TODO: Use theme colors once GM3 is supported (or custom palette is defined)
  // The colors defined below are a part of the GM3 color schemes, while the
  // theme colors are based on M2 palettes.
  .surveys-page {
    background-color: #edeee9; /* M3/sys/light/surface-container */
  }

  .surveys-page-title {
    color: #1a1c19; /* M3/sys/light/on-surface */
  }

  .survey-card {
    background-color: #f9faf4; /* M3/sys/light/surface */
  }

  .new-survey-card {
    background-color: #dde5d9; /* M3/sys/light/surface-variant */
  }

  .add-icon-container {
    background: #89FA9B; /* M3/sys/light/primary-container */
  }

  .survey-title {
    color: #1a1c19; /* M3/sys/light/on-surface */
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  // TODO(amysorto): use typography-config once typography levels defined

  .surveys-page-title {
    font-family: mat.font-family($typography-config);
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
  }

  .survey-title {
    font-family: mat.font-family($typography-config);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }
}

@mixin theme($theme) {
  @include color($theme);

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
